<footer>
    <div style="border-radius: 1rem; display: flex; align-items: center;
    justify-content: space-between; background-color: grey;">
        <div style="background-color: lightslategray; color:white; margin: 1rem; border-radius: 1rem; text-align: center;">Sample Footer</div>

        <div style="display: flex; flex-direction: column; background-color: lightslategray; margin: 1rem; border-radius: 1rem; text-align: center">
            <p style="color: white; text-align: center">Address</p>
            <p style="color: white; text-align: center">ул. Руѓер Бошковиќ 16, Пoштенски Фах 393,
                1000, Скопје, Република Северна Македонија</p>
        </div>

        <div style="display: flex; flex-direction: column; background-color: lightslategray; margin: 1rem; border-radius: 1rem;">
            <p style="color: white; text-align: center">Contact Info</p>
            <p style="color: black; word-break: break-all; word-wrap: break-word; text-align: center;">minovskimarco@gmail.com</p>
        </div>

    </div>
</footer>