<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>

  <meta charset="utf-8">

  <title>Add new Performer to Song</title>

  <style>
    body {
      width: 800px;
      margin: auto;
    }
    table {
      width:100%;
    }
    table, td, th {
      border: 1px solid black;
      padding:3px 2px;
    }
    section {
      float: left;
      margin: 0 1.5%;
      width: 63%;
    }
    aside {
      float: right;
      margin: 0 1.5%;
      width: 30%;
    }
  </style>

</head>
<body>

<header>
  <h1>Select the Artist to add to the List of Performers </h1>
</header>

<section>

  <th:block sec:authorize="hasRole('ROLE_ADMIN')">
    <h2>Select artist:</h2>
    <!-- Make changes to this code to dynamically display radio buttons for each artist as in the example -->
    <form th:method="POST" th:action="@{/artists/songDetails}">

      <input type="hidden" th:value="${trackId}" name="trackId"/>

      <div th:each="artist: ${artistList}">



        <input type="radio" name="artistId" th:id="${artist.id}" th:value="${artist.id}" />
        <label th:for="${artist.id}" th:text="${artist.firstName} + ' ' + ${artist.lastName}">
        </label>

        <br/>
      </div>

      <input type='submit' value='Add artist'>
    </form>

    <br>
    <br>

    <h2>Filter artists</h2>
    <form th:action="@{/artists/search}" method="POST">

      <input type="hidden" th:value="${trackId}" name="trackId"/>

      <div>
        <label for="firstName-search">First Name</label>
        <input type="text" id="firstName-search" name="firstName-search" placeholder="Enter first name">
      </div>

      <br>

      <div>
        <label for="lastName-search">Last Name</label>
        <input type="text" id="lastName-search" name="lastName-search" placeholder="Enter last name">
      </div>

      <br>


      <div>
        <button type="submit" style="float: left;">Filter</button>
      </div>
    </form>
  </th:block>

  <th:block sec:authorize="hasRole('ROLE_USER')">
    <h2>Artists</h2>

    <ol>
      <li th:each="artist: ${artistList}" th:text="${artist.firstName} + ' ' + ${artist.lastName}"></li>
    </ol>

  </th:block>

</section>


<div>
  <th:block sec:authorize="hasRole('ROLE_ADMIN')">
    <h1>Add a New Artist</h1>
    <form th:action="@{/artists/add}" method="POST">

      <input type="hidden" th:value="${trackId}" name="trackId"/>

      <div>
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName" placeholder="Enter first name">
      </div>

      <br>

      <div>
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName" placeholder="Enter last name">
      </div>

      <br>

      <div>
        <label for="bio">Bio</label>
        <textarea id="bio" name="bio" rows="4" placeholder="Enter artist bio"></textarea>
      </div>

      <br>

      <div>
        <button type="submit">Add Artist</button>
      </div>
    </form>
  </th:block>
</div>

<br>




<aside>
  <table>
    <tr>
      <!-- change to show selected trackId -->
      <td><b>Track Id</b></td>
      <td th:text="${trackId}"></td>
    </tr>
  </table>
</aside>



</body>
</html>